/**.color1 {color: #0c4b83;}// Aqua oscuro
.color2 {color: #0a6193;}// Aqua oscuro un poco mas claro
.color3 {color: #0986aa;}// Aqua oscuro un poco mas claro pero no tanto
.color4 {color: #08bcbe;}// Azul verdoso oscuro
.color5 {color: #03fcbd;}// Azul verdoso*/

/**PALETA ANTIGUA*/

/**.color1 {color: #007bff;} //Azul
.color2 {color: #c946fc;} //Morado
.color3 {color: #ff68a5;} //Rosado
.color4 {color: #ffd782;} //Naranja bajito
.color5 {color: #ffffa7;} //Amarillo*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
img{
    border-radius: 20px;
}
.logo{
    width: 500px;
    height: 250px;
}

.logo-mecatronica{
    width: 400px;
    height: 200px;
}
.logo-arduino{
    width: 400px;
    height: 200px;
}
.logo-simuladores{
    width: 400px;
    height: 200px;
}
.side-bar ul{
    list-style: none;
}

.side-bar{
    display: block;
    position: fixed;
    left: -250px;
    width: 150px;
    height: 100%;
    background: rgb(13, 103, 155)/*#ffffa7*/;
    transition:all .5s ease;
}

.side-bar header{
    font-size: 27px;
    color: rgb(235, 235, 235);
    text-align: center;
    line-height: 70px;
    user-select: none;
    background-color:#2c0694 ;
}
.side-bar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    box-sizing: border-box;
    transition: all .5s;
}

ul li:hover a{
    padding-left: 35px;
    background-color: #160e8a;
}
#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    background: #0a6193/*#c946fc*/;
}

label #btn{
    left: 10px;
    top: 25px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .side-bar{
    left: 0px;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 190px;
}

h1{
    text-align: center;
}

p{
    padding-right: 10px;
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
}
.container{
    user-select: none;
    transition: all .5s;
    /* background: #08bcbe/*#ffd782*/;
    width: auto;
    padding: 10px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}
#check:checked ~ .container{
    padding-left: 240px;
}

#text{
    text-align: center;
    border-radius: 10px;
    display:flex;
    margin:auto;
    width:80%;
}
#text2{
    text-align: center;
    border-radius: 10px;
    display:flex;
    margin:auto;
    width:80%;
}
#btn-bar{
    padding: 2px;
    width: auto;
    margin: auto;
    display: flex;
    cursor: pointer;
}

.img{
    width: 200px;
    float: right;
    border: 3px solid black;
}
.img-normal{
    width: 200px;
    border: 3px solid black;
}

.main{
    width: 300px;
    border: 3px solid black;
}

@media (max-width:500px){
    .logo{
    width: 80%;
    height: 150px;
    }
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
}